.main_content_container {
    display: flex;
}

.main_block {
    display: grid;
    grid-template-rows: 10% 85% 5%;
    margin-top: 50px;
    width: 100%;
    height: 93vh;
}

.category_panel {
    white-space: nowrap;
    overflow: auto;
    overflow-y: hidden;
    text-align: center;
    padding: 15px;
}

.category_panel li {
    display: inline;
    clear: both;
    padding: 5px;
    border-radius: 30px;
    margin: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    border: solid 1px #b8b2b2;
    background-color: #e0e0e0;
    color: #333;
}

.category_panel li:hover {
    background-color: #c7c5c5;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}