* {
    box-sizing: border-box;
}

.header_container .header_menu .fa-bell, .header_container .header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: white;
    transition: box-shadow 0.3s ease-in-out;
    padding: 5px 10px;
    box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 20px -10px rgba(0, 0, 0, 0.9);
}

.header_container:hover {
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 30px -5px rgba(0, 0, 0, 0.9);
}

.header_container .header_logo {
    margin-top: 5px;
    min-width: 130px;
}

.header_container .header_logo a {
    color: #ffa500c7;
    font-size: 24px;
    font-family: 'Righteous', cursive;
}

.header_container .header_menu {
    display: flex;
}

.header_container .header_menu .fa-bell, .search_string_container .fa-microphone {
    color: #b0b0b5;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
}

.header_container .header_menu .fa-bell:hover, .search_string_container .fa-microphone:hover {
    color: #999999;
}

.fa-microphone {
    margin-top: 2px;
}

.header_container .header_menu .checkbox_icon {
    width: 35px;
    height: 90%;
    border-radius: 50%;
    background-color: #ffa500c7;
    color: black;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.header_container .header_menu .checkbox_icon:after {
    content: "";
    opacity: 0;
}

#dropdown_checkbox {
    display: none;
}

.header_container .header_menu .checkbox_icon:hover {
    background-color: #b0b0b5;
}

#dropdown_checkbox:hover~ul.header_submenu, .header_submenu:hover {
    transform: scale(1);
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

.header_submenu {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 0;
    opacity: 0;
    overflow: hidden;
    list-style-type: none;
    background: white;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-in-out;
    position: absolute;
    transform-origin: top;
    transform: scale(0);
    width: 170px;
    top: 47px;
    right: 1%;
}

.header_submenu li a {
    display: block;
    padding: 12px;
    font-family: arial;
    color: #5c4d4d;
}

.header_submenu li a:hover {
    background-color: #e4e4e4;
}

.header_submenu li a .fas {
    padding-right: 10px;
}

.header_submenu #sign-out {
    border-top: 1px solid #b8b2b2;
    color: #f73636;
}

.header_submenu #sign-out a {
    color: #f73636;
}

.header_container .header_menu .fa-bell, .header_container .header_menu .checkbox_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_string_container form {
    margin-top: 5px;
    width: 30%;
    position: absolute;
    top: 20px;
    transform: translate(-50%, -50%);
}

.search_string_container input[type=text] {
    font-size: 15px;
    height: 25px;
    border: 1px solid #b8b2b2;
    float: left;
    width: calc(100% - 70px);
    border-radius: 3px 0 0 3px;
}

.search_string_container input[type=text]:hover, input[type=text]:focus {
    border: 1px solid #f73636;
    transition: all 0.1s ease-in-out;
}

.search_string_container button {
    float: left;
    font-size: 15px;
    height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #b8b2b2;
    border-left: none;
}