.side_bar_container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 93vh;
    width: 200px;
    margin-top: 50px;
    overflow-y: auto;
}

.streamers_container {
    background-color: #dbdbdb;
    width: 100%;
    height: 85%;
    overflow: hidden;
    overflow-y: scroll;
}

.information_block {
    background-color: #dbdbdb;
    border-top: 3px solid white;
    width: 100%;
    height: 15%;
}

.streamer_card {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.streamer_card:hover {
    background-color: #c7c5c5;
    cursor: pointer;
}

.streamer_info {
    flex-shrink: 0;
    margin: 5px;
    background: rgba(15, 28, 63, 0.125);
    border-radius: 50%;
    height: 0;
    overflow: hidden;
    padding-top: 20%;
    position: relative;
    width: 20%;
}

.streamer_info::after {
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(15, 28, 63, 0.25);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.streamer_avatar {
    height: auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@supports (object-fit: cover) {
    .streamer_avatar {
        height: 100%;
        object-fit: cover;
    }
}

.streamer_card .streamer_name {
    text-overflow: ellipsis;
    font-weight: bold;
    font-family: arial;
    width: 100%;
    max-width: 100px;
    color: #333;
    white-space: nowrap;
    flex: 0 1 auto;
    overflow: hidden;
    min-width: 0;
}

.streamer_stats {
    display: flex;
    align-items: center;
}

.circle_indicator {
    flex-shrink: 0;
    background: rgba(255, 82, 82, 1);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
    animation: pulse-red 2s infinite;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

@keyframes pulse-red {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 8px rgba(255, 82, 82, 0);
    }
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.streamer_stats .streamer_name {
    margin-right: 4px;
}

.information_wrp {
    background-color: #c7c5c5;
    margin: 10px;
    width: 90%;
    height: 80%;
}

.information_wrp .streamer_name {
    font-weight: bold;
    font-family: arial;
    color: #333;
    font-size: 18px;
    padding: 3px;
    text-align: center;
}

.information_wrp .streamer_name span::selection {
    color: #ededed;
    background-color: #ffa500c7;
}

.web_icons_block {
    display: flex;
    justify-content: center;
}

.web_icons_block i {
    cursor: pointer;
    color: #333;
    font-size: 25px;
    margin: 5px;
}

.web_icons_block .fab:hover {
    color: #259bbe;
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
    .side_bar_container {
        width: 50px;
    }
    .streamers_container {
        height: 100%;
    }
    .streamer_info {
        padding-top: 80%;
        width: 80%;
    }
    .streamer_stats {
        display: none;
    }
    .streamer_name {
        display: none;
    }
    .streamer_card {
        justify-content: center;
    }
    .information_block {
        display: none;
    }
}