body {
    position: relative;
    margin: 0;
    min-height: 90vh;
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 1.1rem;
}