.videos_container {
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 300px));
    grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
}

.video_card {
    height: 220px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.video_card img {
    height: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-radius: 3px;
}

.card_content {
    display: flex;
    align-items: center;
    z-index: 1;
}

.card_content .streamer_info {
    padding-top: 14%;
    width: 15%;
}

.card_content .streamer_name {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.card_content .streamer_name .title {
    text-align: start;
    text-overflow: ellipsis;
    font-weight: bold;
    font-family: arial;
    max-width: 220px;
    color: #333;
    white-space: nowrap;
    flex: 0 1 auto;
    overflow: hidden;
    min-width: 0;
}

.card_content .streamer_name .title:hover {
    cursor: pointer;
    color: #259bbe;
}

.card_content .streamer_name .autor {
    font-size: 14px;
    color: #999898;
}

.card_content .streamer_name .autor:hover {
    cursor: pointer;
    color: #333;
}

.card_content .fa-ellipsis-v {
    flex-grow: 1;
    text-align: right;
    margin-right: 7px;
    color: #333;
    cursor: pointer;
}

.card_content .fa-ellipsis-v i:hover {
    cursor: pointer;
}

.live_btn {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: rgb(243, 64, 64);
    color: white;
    font-size: 11px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.view_btn {
    position: absolute;
    background-color: rgba(59, 59, 59, 0.74);
    color: white;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    bottom: 0;
    right: 0;
    margin-bottom: 45px;
    margin-right: 5px;
    cursor: pointer;
}

.video_card .fa-paw {
    opacity: 0;
    position: absolute;
    top: 33%;
    left: 42%;
    font-size: 35px;
    cursor: pointer;
    cursor: pointer;
}

.img_container {
    position: relative;
}

.img_container .layer {
    opacity: 0;
    background-color: rgba(20, 20, 20, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.video_card:hover .layer {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.2s;
}

.video_card:hover .fa-paw {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.footer {
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    background-color: white;
    padding-top: 10px;
}

.footer_content {
    color: #333;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
}